/* Color variants */
$color-alpha: #16192B;
$color-beta: #C93200;
$color-gamma: #9093A6;
$color-psi: #FFFFFF;

/* Weight variants */
$hairline-weight: 100;
$thin-weight:     200;
$light-weight:    300;
$normal-weight:   400;
$medium-weight:   500;
$semibold-weight: 600;
$bold-weight:     700;
$xbold-weight:    800;
$black-weight:    900;

/* Font variants */
@font-face {
    font-family: "Baskervville";
    src: url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');
}

@font-face {
    font-family: "Lato";
    src: url('https://fonts.googleapis.com/css?family=Lato&display=swap');
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-gap: 1em;
    grid-auto-rows: minmax(10px, auto);
    font-family: 'Lato Light', sans-serif;
    font-size: 16px;
    color: $color-psi;
    background-color: $color-alpha;
    letter-spacing: 0;
    text-align: left;
    line-height: 25px;
    overflow: hidden;
    padding-top: 3em;
    padding-bottom: 3em;
}

#images {
    transition: transform .5s cubic-bezier(0.84, 0.01, 0.4, 0.99);
    max-width: 500px;
    max-height: 400px;
}

#images:hover {
    transform: scale(1.1);
}

.nested {
    display: grid;
    grid-template-columns: 1fr 3fr 5fr;
    max-width: 400px;
}

.nested #numbers {
    color: $color-beta;
    transform: rotate(-90deg);

    /* Legacy vendor prefixes that you probably don't need... */

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.nested #titles {
    font-family: 'Baskervville', serif;
    font-size: 15px;
    font-weight: $normal-weight;
    text-transform: uppercase;
    letter-spacing: 0.0675rem;
}

.nested #description {
    font-family: 'Lato Light', sans-serif;
    font-size: 12px;
    font-weight: $normal-weight;
    letter-spacing: 0.0675rem;
    color: $color-gamma;
}