.Header {
    position: fixed;
    width: 100%;
    padding: 25px 0;
    z-index: 100;
    transition: 1.5s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeaderScrolled {
    background: linear-gradient(104deg, #00F5FF 30%, #009CFF 100%);
    font-family: 'Karla-Regular';
    font-size: 20px;
    opacity: 0.85;
    color: #FFFFFF;
    padding: 15px 0;
    backdrop-filter: blur(20px);
}

.HeaderGroup {
    max-width: 455px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    justify-items: center;
    cursor: pointer;
}

.Header a {
    font-family: 'Karla', Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #FFFFFF;
    transition: 0.8s;
}

.Header a:hover {
    color: black;
}

.HeaderGroup img {
    margin-top: 10px;
    outline: none;
    transition: all 0.5s ease-out;
}

.Logo img:hover {
    transform: perspective(400px) translate3d(10px, 0, 10px) scale(0.93);
}

.SearchIcon img:hover {
    transform: perspective(400px) translate3d(-10px, 0, -10px) scale(0.93);
}

@media (max-width: 640px) {
    .HeaderGroup {
        grid-template-columns: repeat(3, auto);
    }

    .Header a:nth-child(5) {
        display: none;
    }

    .Header a:nth-child(2) {
        display: none;
    }

    .Header a:nth-child(3) {
        display: none;
    }
}