.wrapper {
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-gap: 1em;
    grid-auto-rows: minmax(10px, auto);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    text-align: left;
    line-height: 25px;
    margin-top: 5em;
    overflow: hidden;
}

#images {
    transition: transform .5s ease;
    max-width: 500px;
    max-height: 400px;
}

#images:hover {
    transform: scale(1.5);
}

.nested {
    display: grid;
    grid-template-columns: 1fr 3fr 5fr;
    max-width: 400px;
}

.nested #numbers {
    transform: rotate(-90deg);

    /* Legacy vendor prefixes that you probably don't need... */

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}