.Maps {
    position: relative;
    height: 600px;
    background-size: cover;
    background-position: center;
    margin-bottom: 5%;
}

@media (max-width: 736px) {
    .Maps {
      height: 725px;
    }
  }

.Maps h2 {
    margin: 50px 100px;
    text-align: center;
    font-size: 40px;
    background: linear-gradient(180deg, #7B37FF 30%, #AF14FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Maps p {
    opacity: 0.7;
    font-family: 'Karla', sans-serif;
    font-weight: regular;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    line-height: 25px;
}

