
.Pelir {

    .animated-h2 {
        animation: 1.2s cubic-bezier(0, 0.76, 0.8, 1.01) left-to-right;
        opacity: 1;
    }

    .animated-p {
        animation: 2s bottom-to-top;
        opacity: 1;
    }

}


.Pelir h2 {
    padding-top: 5em;
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 100px;
    text-align: left;
    font-size: 40px;
    font-family: 'Baskervville', serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.125rem;
    color: white;
    opacity: 0;

    @media (max-width: 736px) {
        font-size: 40px;
    }

}

.Pelir h1 {
    font-family: 'Baskervville', serif;
    margin: 1em auto;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 0.0675rem;
    color: white;

    .season-number {
        font-size: 35px;
    }
}

.Pelir p {
    margin: 0 auto;
    font-family: 'Lato Light', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #9093A6;
    letter-spacing: 0.0675rem;
    text-align: justify;
    line-height: 25px;
    max-width: 50%;
    opacity: 0;
}

.Graphictures {

    .animated-h2 {
        animation: 1.2s cubic-bezier(0, 0.76, 0.8, 1.01) left-to-right;
        opacity: 1;
    }

    .animated-p {
        animation: 2s bottom-to-top;
        opacity: 1;
    }

}


.Graphictures h2 {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 100px;
    text-align: left;
    font-size: 40px;
    font-family: 'Baskervville', serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.125rem;
    color: white;
    opacity: 0;

    @media (max-width: 736px) {
        font-size: 40px;
    }
}

.Graphictures h1 {
    font-family: 'Baskervville', serif;
    margin: 1em auto;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 0.0675rem;
    color: white;
}

.Graphictures p {
    margin: 0 auto;
    font-family: 'Lato Light', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #9093A6;
    letter-spacing: 0.0675rem;
    text-align: justify;
    line-height: 25px;
    max-width: 50%;
    opacity: 0;
}

.Flowingmuse {
    .animated-h2 {
        animation: 1.2s cubic-bezier(0, 0.76, 0.8, 1.01) left-to-right;
        opacity: 1;
    }

    .animated-p {
        animation: 2s bottom-to-top;
        opacity: 1;
    }

    h2 {
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: 50px;
        margin-right: 100px;
        text-align: left;
        font-size: 40px;
        font-family: 'Baskervville', serif;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.125rem;
        color: white;
        opacity: 0;
    
        @media (max-width: 736px) {
            font-size: 40px;
        }
    }
    
    h1 {
        font-family: 'Baskervville', serif;
        margin: 1em auto;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;
        letter-spacing: 0.0675rem;
        color: white;
    }
    
    p {
        margin: 0 auto;
        font-family: 'Lato Light', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #9093A6;
        letter-spacing: 0.0675rem;
        text-align: justify;
        line-height: 25px;
        max-width: 50%;
        opacity: 0;
    }
}

#season-tag::after {
        content: "";
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        height: 0.5px;
        background: #C93200;
        position: absolute;
        visibility: hidden;
        transform-origin: center;
        transform: scale(0);
        transition: 0.25s ease-out;
}
      
#season-tag:hover::after {
        visibility: visible;
        transform: scale(1);
    }

.reserved {
    padding: 1rem;
    opacity: 0.7;
    font-family: 'Lato Light', sans-serif;
    font-weight: regular;
    font-size: 15px;
    color: #9093A6;
    text-align: center;
    line-height: 25px;
}

.container-player {
    padding: 1rem;
}

.container-1, .container-2 {
    margin: 3rem auto;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;

    @media (max-width: 736px) {
        grid-template-columns: repeat(1, 1fr);
    }

    @media only screen 
    and (min-width: 1024px) 
    and (max-width: 1366px) 
    and (-webkit-min-device-pixel-ratio: 2) {
        grid-template-columns: repeat(2, 3fr);
    }
}

.illustration {
    padding-top: 5rem;
    margin: 0 auto;
    max-width: 250px;
    max-height: 250px;
}

@media (max-width: 736px) {
    .Pelir p {
        font-size: 16px;
        max-width: 75%;
        text-align: left;
    }

    .Graphictures p {
        font-size: 16px;
        max-width: 75%;
        text-align: left;
    }

    .Flowingmuse p {
        font-size: 16px;
        max-width: 75%;
        text-align: left;
    }
  }

/* Media Query */  

// Xiaomi Redmi 8 Note Pro
@media only screen and (min-width: 393px) and (orientation: portrait) { 
    /* Your Styles... */ 

}

// Samsung A50
@media only screen and (min-width: 412px) and (orientation: portrait) { 
  /* Your Styles... */ 

}

// iPhone 6 and 7
@media only screen and (min-width: 375px) and (orientation: portrait) { 
  /* Your Styles... */ 
    .Pelir {
        .animated-h2 {
            font-size: 35px;
        }

        .animated-p {
            font-size: 15px;
        }

        h1 {
           font-size: 20px; 
        }
    }

    .Graphictures {
        .animated-h2 {
            font-size: 35px;
        }

        .animated-p {
            font-size: 15px;
        }

        h1 {
            font-size: 20px; 
        }
    }

    .Flowingmuse {
        .animated-h2 {
            font-size: 35px;
        }

        .animated-p {
            font-size: 15px;
        }

        h1 {
            font-size: 20px; 
        }
    }

    .container-1, .container-2 {
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 450px;
            width: 80%;
        }
    }
}

  /* Keyframes Animations */
  @keyframes bottom-to-top {
    0% {
       opacity: 0;
       transform: translateY(60px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
   }
   
   @keyframes left-to-right {
     0% {
       letter-spacing: -2rem;
       -webkit-filter: blur(12px);
       filter: blur(12px);
     }
     100% {
       letter-spacing: 0.125rem;
       webkit-filter: blur(0);
       filter: blur(0);
     }
   }